
.meet-our-artist {
    height: 102vh;
    width: 100%;
    background-color: rgb(41, 40, 40);
    color: whitesmoke;
}

.artists {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#artist {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
    text-align: left;
    padding: 5px;
}

.artist-list {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    justify-content: space-between;
}

#artist-text, #artist-h5, #artist-p, figcaption {
    text-align: left;
    font-family:'Lato', sans-serif;
}

#meet-our-h3 {
    font-family: 'Lobster Two', cursive;
    font-weight: bolder;
    font-size: 28px;
    padding-top: 30px;
}

#top-line {
    border-top: 0.5px solid rgb(172, 168, 168);
    width: 35px;
    background: none;
   margin-right: 10px;
   padding-bottom: 10px;
   display: inline-block;
}

@media only screen and (max-width: 800px) {

    #artist-pic {
        height: 140px;
        width: 110px;
        margin-bottom: 10px;
        margin-left: auto;
        text-align: center;
    }

    #artist-text, #artist-h5, #artist-p, figcaption {
        justify-content: space-between;
        font-size: 12px;
       margin-left: 15px;;

    }

    .artists {
        /* display: flex; */
        justify-content: space-between;
        text-align: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .artist-list {
        justify-content: space-between;
        text-align: center;
    }

    #artist {
        
        text-align: center;
        padding-bottom: 20px;
    }
    
    .meet-our-artist {
        height: 100%;
        width: 100%;
    }

}